*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/SimplestWEA2/nbproject/private/
/SimplestWEA2/SimplestWEA2-war/nbproject/private/
/SimplestWEA2/SimplestWEA2-ejb/nbproject/private/
/SimplestWEA2/SimplestWEA2-ejb/build/
/SimplestWEA2/SimplestWEA2-ejb/dist/
/SimplestWEA2/SimplestWEA2-war/build/
/SimplestWEA2/build/
/SimplestWEA2/SimplestWEA2-war/dist/
/SimplestWEA2/dist/
/ManagePerson2/nbproject/private/
/ManagePerson2/ManagePerson2-war/nbproject/private/
/ManagePerson2/ManagePerson2-ejb/nbproject/private/
/ManagePerson2/ManagePerson2-war/build/
/ManagePerson2/ManagePerson2-ejb/build/
/ManagePerson2/ManagePerson2-ejb/dist/
/ManagePerson2/build/
/ManagePerson2/ManagePerson2-war/dist/
/ManagePerson2/dist/
/ManagerPerson3/nbproject/private/
/ManagerPerson3/ManagerPerson3-war/nbproject/private/
/ManagerPerson3/ManagerPerson3-ejb/nbproject/private/
/ManagerPerson3/ManagerPerson3-ejb/build/
/ManagerPerson3/ManagerPerson3-ejb/dist/
/ManagerPerson3/ManagerPerson3-war/build/
/ManagerPerson3/build/
/ManagerPerson3/ManagerPerson3-war/dist/
/TicketQueue/nbproject/private/
/TicketQueue/TicketQueue-war/nbproject/private/
/TicketQueue/TicketQueue-ejb/nbproject/private/
/Examination/nbproject/private/
/Examination/Examination-war/nbproject/private/
/Examination/Examination-ejb/nbproject/private/
/Examination/Examination-ejb/build/
/Examination/Examination-ejb/dist/
/Examination/Examination-war/build/
/Examination/build/
/Examination/Examination-war/dist/
/Examination/dist/